.navbar {
	background-color: rgba(var(--foreground-rgb), 0.1);
	padding: 1.25rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(var(--foreground-rgb));
}

.navbar a:hover {
	opacity: 0.75;
}
